@import url('https://fonts.cdnfonts.com/css/furore');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

$green: #4EB08C;
$white: #F4F8FB;
$black: #212B23;
$green-hover:#455147;


$furore: 'Furore', sans-serif;
$jost: 'Jost', sans-serif;

@font-face {
  font-family: $furore;
  src: url('../fonts/Furore.otf') format('otf');
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: $jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: $white;
}