.contacts-page .header {
    background: rgb(70, 138, 90);
}

.contacts-page .header__logo path {
    fill: #fff;
}

.header__phone {
    color: #fff;
}

.contacts-page .header__phone path {
    fill: #fff;
}

.contacts-page .nav-list__item:after {
    color: rgba(255,255,255,.4);
}

.contacts-page .page-title {
    margin-bottom: 17px;
}

.section-contacts {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 94px);

    @include breakpoint(md) {
        min-height: calc(100vh - 158px);
    }

    @include breakpoint(lg) {
        min-height: calc(100vh - 154px);
    }

    @include breakpoint(lg) {
        min-height: calc(100vh - 158px);
    }
}

.section-contacts .page-title {
    margin-bottom: 40px;
    color: #fff;

    @include breakpoint(md) {
        font-size: 64px;
    }

    @include breakpoint(lg) {
        font-size: 42px;
    }

    @include breakpoint(xl) {
        margin-bottom: 48px;
        font-size: 64px;
    }
}

.contacts {

    @include breakpoint(lg) {
        display: flex;
        justify-content: space-between;
    }
}

.contacts__wrap {

    @include breakpoint(lg) {
        width: calc(50% - 20px);
    }
}

.contacts__info {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.80);

    @include breakpoint(md) {
        margin-bottom: 45px;
        font-size: 16px;
    }

    @include breakpoint(lg) {
        font-size: 14px;
        line-height: 140%;
    }

    @include breakpoint(xl) {
        font-size: 20px;
    }
}

.contacts__info span {
    color: #fff;
}

.contacts__info p + p {
    margin-top: 12px;

    @include breakpoint(lg) {
        margin-top: 8px;
    }

    @include breakpoint(xl) {
        margin-top: 12px;
    }
}

.contacts__map {
    height: 188px;

    @include breakpoint(md) {
        height: 320px;
    }

    @include breakpoint(lg) {
        width: calc(50% - 20px);
    }

    @include breakpoint(xl) {
        height: 430px;
    }
}

.contacts__list {
    margin: 10px 0 38px;

    @include breakpoint(md) {
        margin: 45px 0 38px;
    }

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include breakpoint(xl) {
        margin: 80px 0 100px;
    }
}

.contacts__item {
    display: flex;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.80);

    @include breakpoint(lg) {
        width: calc(50% - 20px);
    }
}

.contacts__item ~ .contacts__item {
    margin-top: 17px;

    @include breakpoint(md) {
        margin-top: 40px;
    }

    @include breakpoint(lg) {
        margin-top: 0;
    }
}

.contacts__item-icon {
    margin-right: 7px;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 31px;
    height: 31px;
    border-radius: 50%;

    @include breakpoint(md) {
        margin-right: 16px;
        width: 72px;
        height: 72px;
    }

    @include breakpoint(lg) {
        margin-right: 8px;
        width: 48px;
        height: 48px;
    }

    @include breakpoint(xl) {
        margin-right: 16px;
        width: 72px;
        height: 72px;
    }
}

.contacts__item-icon svg {
    width: 15px;
    height: 15px;

    @include breakpoint(md) {
        width: 36px;
        height: 36px;
    }

    @include breakpoint(lg) {
        width: 24px;
        height: 24px;
    }

    @include breakpoint(xl) {
        width: 40px;
        height: 40px;
    }
}

.contacts__item-title {
    font-size: 7px;
    font-weight: 400;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.80);

    @include breakpoint(md) {
        margin-bottom: 8px;
        font-size: 16px;
    }

    @include breakpoint(lg) {
        margin-bottom: 0;
        font-size: 14px;
    }

    @include breakpoint(xl) {
        margin-bottom: 8px;
        font-size: 20px;
    }
}

.contacts__item-value {
    color: #FFF;
    font-family: $furore;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    @include breakpoint(md) {
        font-size: 32px;
    }

    @include breakpoint(lg) {
        font-size: 24px;
    }

    @include breakpoint(xl) {
        font-size: 32px;
    }
}

.footer__devs {
    padding-bottom: 24px;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.80);

    @include breakpoint(md) {
        font-size: 16px;
    }

    @include breakpoint(lg) {
        font-size: 14px;
    }

    @include breakpoint(xl) {
        font-size: 16px;
    }
}

.footer__devs span {
    margin-top: 4px;
    display: block;
    color: #FFF;
}