.section-hero {
    position: relative;
    width: 100%;
    min-height: initial;
    overflow: visible;
}

.section-hero::after {
    content: "";
    background: url('../images/union.png') no-repeat;
    background-position: center;
    position: absolute;
    top: 100%;
    display: block;
    width: 59px;
    height: 21px;
    z-index: 10;
}

.hero-bg {
    position: absolute;
    right: -92px;
    height: 190px;
}

.hero-bg::before {
    content: "";
    background-color: #00A90E;
    position: absolute;
    right: 100%;
    display: block;
    width: 100%;
    height: calc(100% - 6px);
    z-index: -1;
}

.hero-bg img {
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: relative;
    z-index: 1;
}