.product-page .header__phone path {
    fill: #fff;
}

.section-product {
    min-height: calc(100vh - 36px);

    @include breakpoint(md) {
        padding-top: 17px;
        min-height: calc(100vh - 100px);
    }

    @include breakpoint(xl) {
        padding-top: 53px;
        min-height: calc(100vh - 136px);
    }
}


.product {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 36px);

    @include breakpoint(md) {
        padding-bottom: 40px;
        min-height: calc(100vh - 100px);
    }

    @include breakpoint(xl) {
        min-height: calc(100vh - 136px);
    }
}



.product__picture {
    @include ratio(224, 224);

    @include breakpoint(lg) {
        padding-bottom: 77.15%;
        width: 77.15%;
    }

    @include breakpoint(xl) {
        padding-bottom: 0;
        width: 478px;
        height: 478px;
    }
}

.product__picture-wrapper {
    margin-bottom: 80px;
    padding: 0 48px;
    position: relative;

    @include breakpoint(md) {
        margin-bottom: 32px;
        padding: 0 112px;
    }

    @include breakpoint(lg) {
        padding: 0 0 100px;
        width: 100%;
        overflow: hidden;
    }

    @include breakpoint(xl) {
        margin-bottom: -36px;
        padding-bottom: 140px;
    }
}

.product__picture-wrapper .swiper {
    overflow: visible;
}

.product__picture-wrapper .swiper-slide {

    @include breakpoint(lg) {
        display: flex;
        justify-content: center;
    }
}

.product__shadow {
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    transform: translateY(78%);
    z-index: -1;

    @include breakpoint(lg) {
        padding-bottom: 77.15%;
        width: 77.15%;
    }

    @include breakpoint(xl) {
        padding: 0;
        width: 478px;
        height: 478px;
    }
}

.product__shadow img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.product__picture-wrapper .slider-nav-arrow {
    background: rgba(255, 255, 255, 0.08);
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 5px;
    z-index: 1;

    @include breakpoint(md) {
        width: 40px;
        height: 40px;
    }
}
.product__picture-wrapper .slider-nav-arrow svg {
    width: 9px;
    height: 9px;

    @include breakpoint(md) {
        width: 20px;
        height: 20px;
    }
}

.product__picture-wrapper .slider-nav-arrow--prev {
    left: 22px;

    @include breakpoint(md) {
        left: 52px;
    }

    @include breakpoint(lg) {
        left: 0;
    }
}

.product__picture-wrapper .slider-nav-arrow--next {
    right: 22px;

    @include breakpoint(md) {
        right: 52px;
    }

    @include breakpoint(lg) {
        right: 0;
    }
}

.product__info {
}

.product__inner {
    margin-bottom: 25px;


    @include breakpoint(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
        margin: 0 auto;
        padding: 0 var(--container);
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1440px;

    }
}

.product__title {
    margin-bottom: 16px;
    font-family: $furore;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 10px;

    @include breakpoint(md) {
        padding: 0 20px;
        font-size: 32px;
    }

    @include breakpoint(lg) {
        font-size: 24px;
        padding: 0;
    }

    @include breakpoint(xl) {
        margin-bottom: 24px;
        font-size: 32px;
    }
}

.product__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 0 10px;

    p+p {
        margin-top: 8px;

    }

    @include breakpoint(md) {
        margin-bottom: 20px;
        padding: 0 20px;
        font-size: 16px;
    }

    @include breakpoint(lg) {
        padding: 0;
        font-size: 14px;
        margin-bottom: 0;
    }

    @include breakpoint(xl) {
        font-size: 20px;

        p+p {
            margin-top: 12px;
        }

    }
}

.product__labels {
    display: flex;
    overflow-x: auto;
    margin-bottom: 16px;
    padding-left: 10px;

    @include breakpoint(md) {
        padding-left: 20px;
    }

    @include breakpoint(lg) {
        padding-left: 0;
    }

    @include breakpoint(xl) {
        margin-bottom: 24px;
    }
}

.product__label {
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-right: 8px;
    background: var(--opacity-8-white, rgba(255, 255, 255, 0.08));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 12px;
    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(md) {
        padding: 8px 16px;
        font-size: 14px;
    }

    @include breakpoint(lg) {
        margin-right: 12px;
        padding: 0 16px;
        height: 37px;
    }

    @include breakpoint(xl) {
        font-size: 16px;
        height: 40px;
    }
}


.product__slider {
    margin-top: auto;

    .swiper-wrapper {
        // padding: 20px 0;
        align-items: flex-end;
    }

    .slider-nav-arrow--next,
    .slider-nav-arrow--prev {
        @include breakpointMax(lg) {
            display: none;
        }

        display: flex;
        width: 48px;
        height: 48px;
        padding: 12px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.08);
        cursor: pointer;
        transition: .4s;
        position: absolute;
        bottom: 40px;

        @include breakpoint(xl) {
            width: 54px;
            height: 54px;
        }


        &:hover {
            background: rgba(255, 255, 255, 0.16);
        }
    }

    .slider-nav-arrow--prev {
        left: 14px;
    }

    .slider-nav-arrow--next {
        right: 14px;
    }

    @include breakpoint(lg) {
        margin: auto auto 0;
        padding: 0 var(--container);
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1440px;
    }

}

.product__slide {
    display: flex;
    justify-content: center;
}

.product__slide-img {
    @include ratio(126, 126);
    width: 36px;

    @include breakpoint(md) {
        width: 85px;
    }
}

.product__slide.current .product__slide-img {
    width: 50px;

    @include breakpoint(md) {
        width: 126px;
    }
}

.product__slide-img img {
    top: 50%;
    height: auto;
    transform: translateY(-50%);
}

.product__slide {
    opacity: 0.5;
    width: 55px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.08);
    transition: .4s;

    &.current {
        width: 70px;
        opacity: 1;

        @include breakpoint(md) {
            width: 163px;
        }
    }

    @include breakpoint(md) {
        width: 126px;
    }

    @include breakpoint(lg) {
        &:hover {
            background: rgba(255, 255, 255, 0.16);
        }
    }
}

.slider {
    overflow: hidden;
}