---
title: vitality | Контакты 
bodyClass: contacts-page
bodyStyle: "background: #468A5A"
yandexMap: true
---

extends includes/_page

block main

    section.section-contacts.section

        .container

            .contacts
                
                .contacts__wrap
                    h1.page-title  Контакты

                    .contacts__info 
                        p Официальный представитель Vitality в РФ:
                            span ООО «ГАГАРИН»
                        p Фактический адрес: 
                            span 125047, Россия, г. Москва, Большая Садовая улица, 5к1
                        p Юридический адрес: 
                            span 127018, Россия, г. Москва, Муниципальный округ Бутырский, ул. Складочная, д 1, стр. 18, этаж 5, оф. 10/10
                        p ИНН:  
                            span 9715425907
                        p КПП: 
                            span 771501001
                        p ОГРН: 
                            span 1227700517186

                .contacts__map
                    #contacts-map(data-coord="55.727546,37.450161" style="wdith:100%; height:100%")

            .contacts__list 
                .contacts__item 
                    .contacts__item-icon 
                        include assets/images/telephone.svg
                    .contacts__item-text
                        .contacts__item-title Контактный телефон
                        a.contacts__item-value(href="tel:+8 (800) 100-45-69") +8 (800) 100-45-69
                .contacts__item 
                    .contacts__item-icon 
                        include assets/images/mail.svg
                    .contacts__item-text
                        .contacts__item-title Почта
                        a.contacts__item-value(href="mailto:info@gagarin.tech") info@gagarin.tech

    .footer__devs

        .container
        
            a(href="https://di-project.studio/") Разработка сайта
            span Di-Project


                            
                            
