---
title: vitality | Главная
bodyClass: main-page
---

extends includes/_page

block main
    //- .preloader
    //-     .preload-logo
    //-         svg(width="73" height="82" viewBox="0 0 73 82" fill="none" xmlns="http://www.w3.org/2000/svg")
    //-             rect.preload-right.preload-right-2(width="72.5127" height="20.2023" transform="matrix(0.867304 -0.497779 0.500413 0.865787 0 54.1875)" fill="#4EB08C")
    //-             rect.preload-left(width="72.5124" height="20.2024" transform="matrix(0.866784 0.498683 -0.501318 0.865263 10.125 18.0664)" fill="#4EB08C")
    //-             rect.preload-middle(x="45.5781" y="34.0625" width="47.9385" height="20.2556" transform="rotate(90 45.5781 34.0625)" fill="#4EB08C")
    //-             ellipse.preload-circle(cx="36.7145" cy="12.6154" rx="12.6598" ry="12.6154" fill="#4EB08C")
          
    section.section.section-hero

        .hero-bg
            .hero-wrap
                +img('subtract.png')

        .container
            .hero-content
                h1.hero-content__title BIO-добавки для жизни
                .hero-content__text
                    p Комплекс витаминов, минералов и пищевых добавок для жителей современных мегаполисов из Нидерландов

    section.section.section-staff

        .container

            .aspect

                .aspect__title.title
                    span VITALITY
                    | OF NATURE
                
                .aspect__text.subtitle Клинически проверенные ингридиенты для создания максимально биологических активных формул!

                .aspect-block
                    
                    .aspect-block__item
                        .aspect-block__item-img
                            div
                                +img('image_63.jpg')
                        .aspect-block__item-title Vita mk7
                    
                    .aspect-block__item
                        .aspect-block__item-img
                            div
                                +img('image_64.jpg')
                        .aspect-block__item-title Bioperine
                    
                    .aspect-block__item
                        .aspect-block__item-img
                            div
                                +img('image_65.jpg')
                        .aspect-block__item-title quatrefolic
                    
                    .aspect-block__item
                        .aspect-block__item-img
                            div
                                +img('image_66.jpg')
                        .aspect-block__item-title biomimetic l-arginine

    section.section.section-brand

        picture.section-brand-bg
            source(media="(min-width: 1440px)", srcset="assets/images/nederland_1440p.png")
            source(media="(min-width: 1024px)", srcset="assets/images/nederland_1024p.png")
            source(media="(min-width: 744px)", srcset="assets/images/nederland_744p.png")
            img(src="assets/images/nederland_320p.png", alt="img")

        .container

            .brand-title.title Мы это

            .brand-subtitle.subtitle Бренд из Нидерландов, воплощающий силу и энергию живительной природы

            .brand

                .brand__item
                    .brand__item-icon
                        +img('006-science.svg')
                    .brand__item-title Связь научных открытий и витаминов
                
                .brand__item
                    .brand__item-icon
                        +img('005-heart-rate.svg')
                    .brand__item-title Натуральные и усвояемые витамины
                
                .brand__item
                    .brand__item-icon
                        +img('007-flask.svg')
                    .brand__item-title Клинически проверенные ингредиенты
                
                .brand__item
                    .brand__item-icon
                        +img('008-carrot.svg')
                    .brand__item-title Овощные капсулы с упаковкой FrostProtect
                
                .brand__item
                    .brand__item-icon
                        +img('001-dna.svg')
                    .brand__item-title Максимально биологически активные формулы
                
                .brand__item
                    .brand__item-icon
                        +img('002-block.svg')
                    .brand__item-title Никакого пуха или ненужных наполнителей
                
                .brand__item
                    .brand__item-icon
                        +img('003-reduce-time.svg')
                    .brand__item-title Липосомальная доставка, медленное высвобождение
                
                .brand__item
                    .brand__item-icon
                        +img('004-wallet.svg')
                    .brand__item-title Доступные по цене пищевые добавки

            a(href="product1.html").brand-btn.btn.btn--green Продукция бренда